body {
  font-family: "PT sans";
}
h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 0px;
}

h2 {
  font-weight: bold;
  margin-top: -20px;
}

.container {
  margin: 20px auto;
  background-color: rgb(188, 226, 226);
  max-width: 800px;
  border: solid;
  border-style: none;
  border-radius: 10px;
  padding: 50px;
}
.search-bar {
  padding-bottom: 50px;
}
.weather-icon {
  padding-left: 0px;
  height: 64px;
  width: 64px;
}
.fa-cloud {
  padding: 10px;
  font-size: 120px;
}
.overview {
  text-align: center;
}
.units {
  position: relative;
  font-size: 16px;
  top: -60px;
  right: -70px;
}
.weather-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.5;
}
.WeatherForecast-temperature-max {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}
.WeatherForecast-temperature-min {
  opacity: 0.5;
  text-align: center;
  font-size: 22px;
}
.WeatherForecast-day {
  font-size: 20px;
  text-align: center;
}
